#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  place-items: center;
}

.logo {
  height: 5em;
  padding: 0; /* Remove padding to decrease space around the logo */
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #f62d2d);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #f62d2d);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f62d2d;
}

button:hover {
  border-color: #646cff;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.calculator {
  border: #646cffaa 1px solid;
}

.input-group {
  max-width: 100vh;
  padding-top: 1vh;
}

.results {
  padding-top: 5vh;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Align logo to the left and navbar items to the right */
  align-items: center; /* Vertically center items */
  position: absolute;
  top: 0;
  left: 0; /* Position the navbar to the left */
  width: 95%; /* Occupy full width */
  padding: 20px; /* Add padding to create space around logo and navbar items */

}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  margin: 0; /* Remove default margin */
  font-size: large;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.navbar-list li {
  margin-left: 20px; /* Add margin between navbar items */
}

.navbar-list li a {
  color: white;
  text-decoration: none;
}

.navbar-list li a:hover {
  color: #f62d2d; /* Change color on hover */
}

.navbar-list li:first-child {
  margin-left: auto; /* Push the first navbar item to the right */
}

.motivation {
  padding-top: 100px;
}

.macrosinfo {
  padding-top: 100px;
}

.calories {
  padding-top: 100px;
}

.titletext {
  padding-top: 100px;
}